#userInfoPlatform {
    padding-top: 12px;
    background-color: #b9ceef;
}

#playerBanner {
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: 286px;
}

#playerProfilePicture {
    margin-top: -116px;
    margin-left: 32px;
    margin-right: 8px;
    width: 176px;
    height: 176px;
    object-fit: cover;
    border-radius: 5px;
}

#playerStats {
    margin-top: -48px;
    background-color: #8eaeef;
}

#userName {
    margin-left: 224px;
    margin-top: -56px;
}

#sectionAboutMe {
    margin-top: -96px;
    background-color: #8eaeef;
}

#recentScores {
    background-color: #8eaeef;
}

#difficultyBadge {
    margin-top: 38px;
    margin-left: -64px;
    font-size: 14px;
    position: absolute;
    background-color: darkmagenta;
}